<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}
    <title>Local Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2 ">
       
      {% block sidebar %}
      <div class="w3-container w3-dark-grey"style="width:100%">
        <h4>Menu</h4>
    </div>
    <img src="{% static 'img/images.jpg' %}" alt="Snow" style="width:100%">
      <ul class ="w3-sidebar w3-bar-block w3-light-grey "style="width:14.5%" >
       
          <li><a class="w3-bar-item w3-button w3-red" href="{% url 'index' %}">Inicio</a></li>
          <li><a class="w3-bar-item w3-button" href="">Todos los contenidos</a></li>
          <li><a class="w3-bar-item w3-button" href="">A cerca del grupo</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>