{% extends "base.html" %}
{% block content %}

<h1 class="w3-container w3-dark-grey">Proyecto Grupo1</h1>

  <p>Bienvenido a <em>Proyecto Grupo1</em>, Aqui veran todos los temeas puestos en practica.</p>

<h2>Por favor revise cada uno de los contenidos aqui expuestos</h2>

  <p>Temas a mostrar:</p>
  <div>
    <ul class ="w3-sidebar w3-bar-block w3-light-grey "style="width:14.5%">
      <li class="w3-bar-item w3-button"><strong>Array:</strong> {{ num_books }}</li>
      <li class="w3-bar-item w3-button"><strong>Busquedas:</strong> {{ num_instances }}</li>
      <li class="w3-bar-item w3-button"><strong>Pilas:</strong> {{ num_instances_available }}</li>
      <li class="w3-bar-item w3-button"><strong>Colas:</strong> {{ num_authors }}</li>
    </ul>
  </div>

{% endblock %}


